# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
backend/venv/

# Database
flakehunter.db

# Reports
flakehunter_reports/

# Node.js
frontend/node_modules/
frontend/dist/
frontend/.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/

# OS
.DS_Store
